@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg,#03172F,#062844,#093657);
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

button{
    cursor: pointer;
}

.restart {
    background-color: #D7B030;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    display: block;
    position: relative;
    margin:  2em auto;
    padding: 1rem;
    width: 100px;
    font-size: 1.5em;
}

.restart:hover {
    background-color: #fdc81a;
}

.button-display{
    background-color: #ffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 12vmin;
    animation: 3s;
}

.button-display:hover {
    background-color: rgb(177, 177, 177);
}


